$height: 60px;
$width: 100%;
$white: #fafafa;
$font-size:2rem;
$center: center;
$flex: flex;
$border-radius: 20px;
$border: solid 1px #ffffff;
$font-family: Typold Extended;
$transparent:transparent;
$background-color: #504b46;
$padding-top:20px;
$left: 25%;
$padding:10px;




.social-icon--fb__icon, .social-icon--twitter__icon, .social-icon--insta__icon, .social-icon--volume__up{
    color: $white;
    font-size: $font-size;
    padding-left: $padding;
    padding-right: $padding;
    padding: $padding;
}
.social-icon--heart, .social-icons{
    margin-top: $padding-top;
}
.social-icons{
    text-align: $center;
}
.social-icon--heart{
    display: $flex;
}
.social-icon--heart__img{
    height: $height;
    $width: 80%;
    width: $width;
}
.footer-translate{
    border: $border;
    border-radius: $border-radius;
    width: $width;
    $height: 40px;
    height: $height;
    $padding-top:30px;
    margin-top: $padding-top;
    $padding-top:2%;
    margin-left: $padding-top;

}
.footer-btn--translate{
 font-family: $font-family;
 $font-size:18px;
 font-size: $font-size;
 background: $transparent;
 $border:none;
 border: $border;
 color: $white;
 padding-left: $left;
 $padding-top:2%;
 padding-top: $padding-top;
}
.footer{
    background-color: $background-color;
    padding-top: $padding-top;
}
.line{
    margin-top: $padding-top;
    background-color: $white;
    margin-bottom: $padding-top;
    height: 1px;
}
.contact-menu a{
    $font-size:12px;
    font-size: $font-size;
    font-family: $font-family;
    color: $white;
}
.footer-logo--fort{
    margin-top: $padding-top;
    $width: 200px;
    width:$width;
    $height: 100px;
    height: $height;
}
.footer-secondary--menu {
    margin-top: $padding-top;
}
.footer-secondary--menu a{
    $font-size:12px;
    font-size: $font-size;
    font-family: $font-family;
    color: $white;
}
.footer-third{
    margin-top: $padding-top;
    padding-bottom: $padding-top;
}
.footer-third a{
    $font-size:12px;
    font-size: $font-size;
    font-family: $font-family;
    color: $white;
    
}