.social-icon--fb__icon, .social-icon--twitter__icon, .social-icon--insta__icon, .social-icon--volume__up {
  color: #fafafa;
  font-size: 2rem;
  padding-left: 10px;
  padding-right: 10px;
  padding: 10px;
}

.social-icon--heart, .social-icons {
  margin-top: 20px;
}

.social-icons {
  text-align: center;
}

.social-icon--heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-icon--heart__img {
  height: 60px;
  width: 80%;
}

.footer-translate {
  border: solid 1px #ffffff;
  border-radius: 20px;
  width: 100%;
  height: 40px;
  margin-top: 30px;
  margin-left: 2%;
}

.footer-btn--translate {
  font-family: Typold Extended;
  font-size: 18px;
  background: transparent;
  border: none;
  color: #fafafa;
  padding-left: 25%;
  padding-top: 2%;
}

.footer {
  background-color: #504b46;
  padding-top: 20px;
}

.line {
  margin-top: 20px;
  background-color: #fafafa;
  margin-bottom: 20px;
  height: 1px;
}

.contact-menu a {
  font-size: 12px;
  font-family: Typold Extended;
  color: #fafafa;
}

.footer-logo--fort {
  margin-top: 20px;
  width: 200px;
  height: 100px;
}

.footer-secondary--menu {
  margin-top: 20px;
}

.footer-secondary--menu a {
  font-size: 12px;
  font-family: Typold Extended;
  color: #fafafa;
}

.footer-third {
  margin-top: 20px;
  padding-bottom: 20px;
}

.footer-third a {
  font-size: 12px;
  font-family: Typold Extended;
  color: #fafafa;
}
/*# sourceMappingURL=style.css.map */